<li>
  <%= link_to word.content_jp, word %>
  <% if current_user.admin? %>
    | <%= link_to t(:delete), word, method: :delete, 
                   			data: { confirm: t(:you_sure) } %>
  <% end %>
  <% if current_user.learned? word %>
    | <%= t(:learned) %> 
  <% end %>
</li>